<!DOCTYPE html>
<html ng-app="videoApp" xmlns="http://www.w3.org/1999/xhtml">
<head>

    <script src="Scripts/jquery-1.10.2.js"></script>
    <script src="Scripts/bootstrap.js"></script>
    <script src="Scripts/angular.js"></script>
    <script src="Scripts/angular-route.js"></script>
    <script src="Scripts/angular-resource.js"></script>
    <script src="Scripts/app.js"></script>

    <title></title>

    <style>
        #header {
            border: 1px solid #000;
            width: 100%;
            height: 50px;
            background-color: #e1e1e1;
        }

        #top_leaders {
            border: 1px solid #000;
            width: 100px;
            height: 200px;
            background-color: #e1e1e1;
            margin-top: 5px;
        }
    </style>

</head>
<body>

    <div id="header">

    </div>

    <div id="top_leaders">

    </div>

    <div id="content" ng-controller="VideoListCtrl">

        <ul>
            <li ng-repeat="video in videos">
                <p>{{video.VideoId}}</p>
                <p>{{video.Title}}</p>
                <p>{{video.Url}}</p>
                <p>{{video.Views}}</p>
                <p>{{video.Likes}}</p>


                <p ng-repeat="comment in video.Comments">
                    - {{comment.Text}}
                    - {{comment.CreatedDate}}
                </p>


            </li>
        </ul>

    </div>

</body>
</html>

