
<div>
    <button id="addVideoBtn" class="btn btn-success">добавить видео</button>
</div>

<table id="videoListTable">
    <tr ng-repeat ="video in videos">
        <td>
            <!--<p>{{video.VideoId}}</p>-->
            <p><b>{{video.Title}}</b></p>
            <p> <img ng-src="{{video.Url}}" width="450" /> </p>                        
            <p>Автор: {{video.UserName}}</p>
            <p>Просмотры: {{video.Views}}</p>
            <p>Понравилось: {{video.Likes}}</p>
            <p>Комментариев: {{video.CommentCount}}</p>
            <p>Опубликовано: {{video.CreatedDate}}</p>
            
        </td>
    </tr>
</table>

<button ng-click="show_more()">Show more</button>


