
<div>
 
    
    <a class="btn btn-success" style="width:100%" href="#/addVideo">добавить видео</a>
</div>
 
<table id="videoListTable">
    <tr ng-repeat="video in videos">
        <td>
          
            <p style="font-size:13px;"><b>{{video.UserName}}</b> поет песню <i>Григория Лепса - Лабиринт</i></p>
            <p> <img ng-src="{{video.Url}}" width="100%" /> </p>
            
            {{video.CreatedDate | date:'medium'}}

            <div class="pull-right">
                <img src="Content/Images/Comment.png" width="15" height="15"> {{video.CommentCount}} &nbsp;
                <img src="Content/Images/eye.png" width="15" height="15">  {{video.Views}} &nbsp;
                <a ng-click="editLike()"><img src="Content/Images/like.png" width="15" height="15">  {{video.Likes}}</a>
            </div>

            <br /><br />
        </td>
    </tr>
</table>

<br/>
<p>
    <button ng-click="show_more()">Show more</button>
</p>

